# Visual Studio Code
.vscode/

# Librerias
lib/

# Extra
src/driver/
src/resources/
src/main/java/unit_2_practice_task_27_08_24/App.java
src/test/java/unit_2_practice_task_27_08_24/AppTest.java
target/
.editorconfig
pom.xml
README.md